<ion-modal-view>

          <ion-header-bar  class="bar-balanced">
                   <h1 class="title">CARTÓRIO ALIANÇA</h1>

          </ion-header-bar>
            <ion-content>
        </p>
<div class="card">
    <div class="item item-text-wrap" class="serv">
	<h2 style="color: green; font-size:120%; font-weight: bold;  text-align:center" >Está quase acabando! Por favor, responda este outro formulário, é só clicar em OK</h2></br>
		  </div> 
	</div>
		<div class="card">
    <div class="item item-text-wrap" class="serv">
		<button class="button button-full button-balanced" ng-click="fechaModal()">OK</button>
	  </div> 
	</div>	
            </ion-content>

  </ion-modal-view>
