<ion-view view-title="{{home}}">  
  <ion-content>
  <div class="item item-text-wrap" class="serv">
  <h1 style="color: green; font-size:100%; font-weight: bold;  text-align:center" >{{home1}}</h1>
  </div>

<div class="card">
    <div class="item item-text-wrap" class="serv">
   <a class="button button-block button-balanced" href="#/menu/perguntas" ng-click="perguntas()">Acessar Pesquisa Satisfação</a>
   </div> 
</div>


<br>
    </br>
  <div class="card">
          <div class="item item-text-wrap" class="serv">
   <a class="button button-block button-balanced" href="#/menu/perguntas_seq" ng-click="perguntas_seq()">Acessar Pesquisa Segmentação</a>
        </div> 
   </div> 
 

    
  </ion-content>
</ion-view>