<ion-view view-title="{{perfil2}}">  
  

    <ion-content  ng-repeat="segm in segmPerfil">
    </br>
  </br></br>
  </br>
       
        <div class="item item-text-wrap">
            <div class="item item-text-wrap">
            <div class="row row-center responsive-sm">                
                <div class="row row-center" style="text-align:center; padding: 0; margin:0;">    
                    <div class="col col-center" style="background-color: grey; color: #fff; width: 100%; height: 100px; padding-top: 15px !important">
                        <h1 class="light">{{segm.nome}}</h1>
                        <h4 class="light" style=" color: #fff;">USUÁRIO</h4>
                    </div>
                </div>
            </div>
            </div>
         </div>

</br> </br> 
    <div class="item item-text-wrap">
        <a ion-button class="button button-full button-positive" ng-click="editSeg(segm)">Editar</a>
        </div>
    </br>

              
       
    </ion-content>
</ion-view>