<ion-view view-title="{{perfil}}">  
  

    <ion-content  ng-repeat="usuario in usuarioPerfil">
    </br>
  </br></br>
  </br>
       
        <div class="item item-text-wrap">
            <div class="item item-text-wrap">
            <div class="row row-center responsive-sm">                
                <div class="row row-center" style="text-align:center; padding: 0; margin:0;">    
                    <div class="col col-center" style="background-color: grey; color: #fff; width: 100%; height: 100px; padding-top: 15px !important">
                        <h1 class="light">{{usuario.nome}}</h1>
                        <h4 class="light" style=" color: #fff;">USUÁRIO</h4>
                    </div>
                </div>
            </div>
             </div>
        
    </br>
        <div class="item item-text-wrap">
            <div class="row row-center responsive-sm">            
                <div class="row row-center" style="text-align:center; padding: 0; margin:0;">    
                    <div class="col col-center" style="background-color: grey; color: #fff; height: 100px; padding-top: 15px !important">
                        <h1 class="light">{{usuario.tel}}</h1>
                        <p class="light" style=" color: #fff;">TELEFONE</p>
                     </div>
                 </div>
            </div>
        </div> 
    </br>

        <div class="item item-text-wrap">
            <div class="row row-center responsive-sm">            
                <div class="row row-center" style="text-align:center; padding: 0; margin:0;">    
                    <div class="col col-center" style="background-color: grey; color: #fff; height: 100px; padding-top: 15px !important">
                        <h1 class="light">{{usuario.email}}</h1>
                         <p class="light" style=" color: #fff;">E-MAIL</p>
                    </div>
                </div>
            </div>
        </div> </br> </br> 
    <div class="item item-text-wrap">
        <a ion-button class="button button-full button-positive" ng-click="editTodo(usuario)">Editar</a>
     </div>
    </br>

              
       
    </ion-content>
</ion-view>